{{ 'video-slider-section.css' | asset_url | stylesheet_tag }}

<section class="video-slider-area">
  <div class="video-slider">
    <video
      src="https://cdn.shopify.com/s/files/1/0549/1510/4943/files/Pexels_Videos_2716.mp4?v=1615646507"
      autoplay
      muted
      loop
      playsinline
    ></video>
    <div class="video-text">
      <h1>For Your Loved One ❤️</h1>
    </div>
  </div>
</section>
