.collpase_compact .collapsible-content__wrapper  {
  max-width: 1120px;
  margin: 0 auto;
}
.narrow_container_both .accordion {
  border: .1rem solid rgba(var(--color-foreground),.08);
  margin-bottom: 1.5rem;
  padding: 15px 30px;
  border-radius: var(--text-boxes-radius);
  position: relative;
}
.narrow_container_both .accordion:not(.active) {
  background-color: transparent;
}
.narrow_container_both .collapsible-content:not(.collapsible-row-layout) .accordion:first-child {
  border-top: .1rem solid rgba(var(--color-foreground),.08);
}
.narrow_container_both .collapsible-content:not(.collapsible-row-layout) .accordion:last-of-type {
  border-bottom: .1rem solid rgba(var(--color-foreground),.08);
}
.narrow_container_both .collapsible-content .accordion__content {
  padding: 0;
}
.narrow_container_both .accordion summary:after {
  background: rgba(var(--color-foreground),0.04);
  min-width: 40px;
  min-height: 40px;
  /* border-radius: 100%; */
  border-radius: var(--buttons-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
}
.collapsible-content .accordion__title {
  max-width: calc(100% - 8rem);
}
.collapsible-content .accordion__title.h0 {
  font-size: calc(var(--font-body-scale)* 20px);
}
.collapsible-content .accordion__title.h1 {
  font-size: calc(var(--font-body-scale)* 18px);
}
.collapsible-content .accordion__title.h2 {
  font-size: calc(var(--font-body-scale)* 16px);
}
.faq_sec:last-child .collapsible-content webi-collapse .webicollapse_main:last-child{
  margin-bottom: 0;
}


.collapsible-content {
  position: relative;
  z-index: 0;
}
.collapsible-content:not(.collapsible-row-layout) .accordion:first-child {
  border-top: none;
  margin-top: 0;
}
.collapsible-content:not(.collapsible-row-layout) .accordion:last-of-type{
  border-bottom: none;
}
.accordion summary::after {
  content: "+";
  font-size: 22px;
  line-height: 20px;
  font-family: sans-serif;
  position: absolute;
  right: 1rem;
}
.accordion summary.active::after {
  content: "-";
  line-height: 9px;
}
.collapsible-content .accordion summary{
  align-items: center;
  padding: 1.5rem 0;
}
.collapsible-content__media--small {
  height: 19.4rem;
}
.collapsible-content__media--large {
  height: 43.5rem;
}
.collapsible-content__media--medium {
  height: 32.5rem;
}
.collapsible-content .accordion__content{
  padding: 0 1rem;
}
.collapse_border .collapsible-content .accordion__content {
    padding: 10px;
    border: 1px solid rgba(var(--color-foreground),0.08);
    border-radius: calc(var(--text-boxes-radius) / 2);
}
.collapsible-content__header {
  word-break: break-word;
}
.collapsible-row-layout .accordion:not(:first-child):not(.color-background-1) {
  margin-top: 1rem;
}
.collapsible-row-layout .accordion {
/*   border: var(--text-boxes-border-width) solid rgba(var(--color-foreground),var(--text-boxes-border-opacity)); */
  margin-bottom: 1.5rem;
  padding: 0 12px;
  background: rgba(var(--color-foreground),0.04);
}
.collapsible-row-layout .accordion .accordion__content {
  padding-top: 0;
}
.collapsible-content-wrapper-narrow {
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.collapsible-content .accordion__content img{
  width: 100%;
}
.collapsible-content__wrapper.background-secimg{
  padding: 30px;
  border-radius: var(--text-boxes-radius);
}
.collapse.wbcollapse_cont img{
  margin-top: 10px;
}
.collapsible-content__heading{
  display: inline-block;
}
.collapsible-content .accordionicon svg {
  fill: rgb(var(--color-foreground));
}
.collapsible-content .accordionicon svg.storke_clr {
  fill: none;
}
.imgwithfaq_center {
  justify-content: center;
}
/* @media (min-width: 1200px) {
  .imgwithfaq .collapsible-content__grid-item {
    width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .imgwithfaq webi-collapse.grid__item{
    width: calc(60% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(60% - var(--grid-desktop-horizontal-spacing) / 2);
  }
} */
@media (min-width: 768px) and (max-width: 1199px) {
  .imgwithfaq .collapsible-content__grid-item, .imgwithfaq webi-collapse.grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media screen and (min-width: 768px) {
  .collapsible-content .accordion {
    margin-top: 0;
  }
  .collapsible-content__grid--reverse {
    flex-direction: row-reverse;
  }
  .collapsible-content__media--small {
    height: 31.4rem;
  }
  .collapsible-content__media--medium {
    height: 50.5rem;
  }
  .collapsible-content__media--large {
    height: 69.5rem;
  }
}
/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 768px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse) .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 992px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse) .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 7rem;
    }
  }
}

@media (max-width: 991px) {
  .narrow_container_both .accordion {
    padding: 6px 15px;
  }
  .collapsible-content .accordion__title.h0 {
    font-size: calc(var(--font-body-scale)* 16px);
  }
  .collapsible-content .accordion__title.h1 {
    font-size: calc(var(--font-body-scale)* 15px);
  }
  .collapsible-content .accordion__title.h2 {
    font-size: calc(var(--font-body-scale)* 14px);
  }
}