product-recommendations.complementary-products {
  margin-top: 30px;
  display: block;
}
.complementary-products .heading {
  margin: 0;
  gap: 10px;
}
.complementary-products .card .quick-add{
  position: relative;
  padding: 0;
  margin-top: 5px;
  top: unset;
  right: unset;
  margin-bottom: 0;
}
.complementary-products .wbcompinner{
  width: 60%;
}
.complementary-products .wbproductdes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wbcompinner .product-title{
  font-size: calc(var(--font-body-scale) * 16px);
  font-weight: var(--font-body-weight-medium);
}
.wbcompinner .product-title:hover a{
  color: rgb(var(--color-link-hover));
}
.wbcompinner .wbprotype{
  font-size: calc(var(--font-body-scale) * 14px);
  margin-bottom: 8px;
}
.wbcompinner .wbvariantbadges{
  display: none;
}
.complementary-products__container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.complementary-products__container .summary__title svg {
  min-width: 20px;
}
.complementary-products__container .toggle .summary__title h2 {
  padding-right: 30px;
}
product-recommendations:not(.is-accordion) .complementary-products__container {
  margin-top: 1.5rem;
}
.complementary-products__container > details[open] {
  padding-bottom: 1.5rem;
}
/* .complementary-slide { 
  --shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
  --shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
} */
.complementary-products .wbimgblock .placeholder-svg{
   padding: 5px 0;
}
.complementary-products .price .badge{
  margin: 0;
}
.complementary-products__container .collapse.wbcollapse_cont img {
    margin-top: 0;
}
.complementary-slide > ul {
  display: flex;
  flex-direction: column;
}
.complementary-products .card{
  display: flex;
  flex-direction: row!important;
  column-gap: 15px;
}
 
.product__info-container .complementary-products .price .price-item {
    font-size: calc(var(--font-body-scale) * 16px);
}
.product__info-container .complementary-products .price .price-item.price-item--regular {
    font-size: calc(var(--font-body-scale) * 14px);
}
.comp-product .complementary-products .product__media-item:not(.is-active), .comp-product .complementary-products .product__media-item:not(.is-active) {
   display: block;
}
.comp-product .complementary-products .wbproduct-container .product__media-item:not(:first-child){
   display: none;
}
.complementary-products .card-wrapper .card .card__inner{
   width: 18%;
   height: 18%;
}
.complementary-products .wbproduct-container .card .wbproductdes {
  padding: 0;
}
.complementary-products .card-wrapper .card__content{
   width: 82%;
}
.complementary-products .slider-buttons{
  column-gap: 5px;
}
.complementary-products .heading h2.h2 {
    font-size: calc(var(--font-heading-scale) * 18px);
}
.complementary-products .slider-button--prev:not([disabled]):hover .icon {
    color: rgb(var(--color-foreground));
}
.complementary-products .card--standard .wbproductdes{
  padding: 0;
}
.complementary-products .product-form, .complementary-products .wbproduct-container .card--standard product-form{
  margin: 0;
}
.complementary-products .quick-add__submit, .complementary-products .add-to-cart__submit {
  min-width: auto;
  padding: 5px 10px;
  min-height: auto;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
  .complementary-products .grid__item{
    width: 100%;
    max-width: 100%;
  }
}
.complementary-slider {
  column-gap: 0;
}
.complementary-slide.grid__item {
  width: 100%;
  padding: 1px;
}
.complementary-products > .summary__title {
  display: flex;
  line-height: 1;
  padding: 1.5rem 0;
}
.accordion + product-recommendations .accordion,
product-recommendations.is-accordion + .accordion {
  margin-top: 0;
  border-top: none;
}
.complementary-products > .summary__title .icon-accordion {
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}
.complementary-products__container .card--card .card__content,
.complementary-products__container .card--horizontal .card__information {
  padding: 0;
}
.complementary-products__container .card--horizontal .card__inner {
  max-width: 20%;
}
.complementary-products .wbhomevendor + .card__heading {
  margin-top: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
  .complementary-products__container .card--horizontal .card__inner {
    max-width: 25%
  }
}
.complementary-slide .card--text .card__content {
  grid-template-rows: minmax(0,1fr) max-content auto;
}
.complementary-products__container .card--card.card--media > .card__content {
  margin-top: 0px;
}
.complementary-products__container .card--card .card__inner .card__media {
  border-radius: calc(var(--media-radius));
}
.complementary-products__container .card--horizontal .quick-add {
  margin: 0;
  max-width: 20rem;
}
.complementary-products__container .quick-add__submit .icon-plus {
  width: 1.2rem;
}
.complementary-products__container .icon-wrap {
  display: flex;
}
.complementary-products .sold-out-message:not(.hidden) + .icon-wrap {
  display: none;
}
.complementary-products__container .quick-add__submit:not(.animate-arrow) .icon-wrap {
  transition: transform var(--duration-short) ease;
}
.complementary-products__container .quick-add__submit:not(.animate-arrow):hover .icon-wrap {
  transform: rotate(90deg);
}
.complementary-products__container .quick-add__submit:after,
.complementary-products__container .quick-add__submit:hover:after {
  box-shadow: none;
}

@media (max-width: 1199px){
  .wbcompinner .product-title{
    font-size: calc(var(--font-body-scale) * 14px);
  }
  .product__info-container .complementary-products .price .price-item {
    font-size: calc(var(--font-body-scale) * 14px);
  }
  .product__info-container .complementary-products .price .price-item.price-item--regular,.wbcompinner .wbprotype {
    font-size: calc(var(--font-body-scale) * 12px);
  }
  .complementary-products .card .quick-add {
    margin: 0;
  }
  .complementary-products .wbproductdes{
    display: block;
  }
  .complementary-products .wbcompinner {
    width: 100%;
  }
  .complementary-products .product-form__submit {
    margin-bottom: 0;
  }
  .wbcomplebtn{
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .complementary-products .cartb.button, product-recommendations .quick-add__submit{
    min-width: 95px;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px){
  .complementary-products .card-wrapper .card .card__inner {
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 768px) {
  .complementary-products__container .price--on-sale .price-item--regular {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 991px){
  .complementary-products .slider-buttons button{
        width: 34px;
        height: 34px;
        background: rgba(var(--color-base-background-2));
  }
  .product__info-container .complementary-products .price .price-item {
      font-size: calc(var(--font-body-scale) * 14px);
  }
}
@media (max-width: 575px){
  .complementary-products .card-wrapper .card .card__inner {
    width: 35%;
    height: 35%;
  }
  .complementary-products .card-wrapper .card__content {
    width: 65%;
  }
}