.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 482px !important;
  position: relative;
}
.newsletter-form__field-wrapper {
  width: 100%;
}
.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}
.field_newsflex {
  position: relative;
  width: 100%;
  display: flex;
  transition: box-shadow var(--duration-short) ease;
  gap: 15px;
  border: 1px solid #661800;
  border-radius: 12px;
  align-items: center;
  padding: 0.25rem;
  background-color: #f9f9f9;
  @media (max-width: 992px) {
    max-width: 300px;
    margin: 0 auto;
  }
}
.field_newsflex .field input {
  border: 1px solid transparent;
}
.field_newsflex .field label {
  color: #661800;
}
.wbhome_news .email-signup-banner__box .email-signup-banner__heading {
  font-weight: var(--font-body-weight-medium);
}
.footer .newsletter-form__field-wrapper .field__input {
  border: 1px solid rgba(var(--color-foreground), 0.9);
}
.newsletter-form__field-wrapper .field {
  z-index: 0;
  align-items: center;
}
.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}
.newsletter-form__message--success {
  margin-top: 2rem;
}
.newsletter .newsletter-form,
.newsletter .newsletter-form__field-wrapper {
  display: inline-block;
}
.newsletter-form__button {
  width: 100%;
  max-width: 4.4rem;
  margin: 0;
  right: 0;
  top: 0;
  height: 4.4rem;
  z-index: 2;
  position: relative;
  border-radius: 12px;
  min-height: unset;
}
.footer .newsletter-form__field-wrapper .field:after {
  display: none;
}
.email-signup-banner__box .newsletter-form__button {
  z-index: 0;
  height: 4.3rem;
}
.banner:not(.banner--mobile-bottom)
  .email-signup-banner__box
  .newsletter-form__button {
  height: 4.3rem;
  min-height: 4.3rem;
}
.newsletter-form__button .icon {
  width: 1.5rem;
}
.wbhome_news .newsletter .newsletter-form,
.wbhome_news .newsletter .newsletter-form__field-wrapper {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 1025px) {
  .wbhome_news .banner__content {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .newsletter .banner__box,
  .newsletter .banner__content {
    padding: 10px;
  }
  .newsletter:not(.banner--mobile-bottom)
    .banner__box:not(.email-signup-banner__box--no-image) {
    background-color: transparent;
  }
  .section:not(.section-image-banner)
    .newsletter.banner:not(.banner--mobile-bottom):not(.email-signup-banner)
    .banner__box.content-box {
    --color-foreground: unset;
    --color-button: unset;
    --color-button-text: unset;
  }
}
@media screen and (min-width: 768px) {
  .wbhome_news .banner__box {
    max-width: 60rem;
  }
  .banner--transparent .email-signup-banner__box.banner__box {
    padding: 0;
  }
  .newsletter-form__message {
    justify-content: flex-start;
  }
  .newsletter:not(.banner--desktop-transparent) .email-signup-banner__box {
    width: 100%;
  }
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
  .newsletter.banner--transparent .banner__box {
    background: transparent;
  }
}
.banner {
  width: 100%;
  > div:nth-child(1) > img {
    border-radius: 12px;
  }
}
.newsletter-banner__content {
  align-items: center !important;
  justify-content: space-between !important;
  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: center !important;
    gap: 2rem;
  }
}
.newsletter-banner__content > div {
  width: 100%;
  max-width: 50% !important;
  border-radius: 0;
  @media (max-width: 992px) {
    max-width: 100% !important;
  }
}

.newsletter-banner__content > div:nth-child(1) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

@media screen and (min-width: 993px) {
  .newsletter-banner__content > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 182px;
    background: #f9f9f9;
    padding: 4rem 3.5rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
