.predictive-search__results-groups-wrapper--no-products .predictive-search__result-group:first-child, .predictive-search__result-group:only-child {
    flex-grow: 1;
}
.predictive-search__result-group.searchbar-left{
  width: 40%;
}
.predictive-search__result-group.searchbar-right.wbsrightpart{
  width: 60%;
  height: 500px;
  overflow-y: auto;
  padding-right: 5px;
  display: grid;
  row-gap: 20px;
}
.predictive-search__result-group.searchbar-right .collection-and-articles {
  display: grid;
  row-gap: 20px;
}
details-modal details[open] .search-modal__form .search__button {
  right: unset;
  top: unset;
}
.search_modal_tab .tab-content > .active {
  display: block;
  visibility: visible;
}
.search_modal_tab .tab-content > .tab-pane:not(.active) {
  visibility: hidden;
  height: 0;
  overflow-y: hidden;
}
.search_modal_tab .fade:not(.active) {
  opacity: 0;
  visibility: hidden;
}
.search_modal_tab .fade {
  transition: opacity .15s linear;
}
.search_modal_tab .tabs .tab-button {
  color: rgb(var(--color-foreground),0.5);
  font-size: calc(var(--font-body-scale) * 16px);
  cursor: pointer;
  font-weight: var(--font-body-weight-medium);
}
.search_modal_tab .tabs .tab-button.active {
  color: rgb(var(--color-foreground));
}
.search_modal_tab .tabs {
  display: flex;
  gap: 15px;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 15px;
}
.search_modal_tab .tab-content .search-default_data {
  height: 500px;
  overflow-y: auto;
}
.search-modal__content button[type="reset"]:not(.hidden) ~ .wbsclose,
.template-search__search button[type="reset"]:not(.hidden) ~ .wbsclose,
.predictive-search .card__information .wbvariantbadges{
  display: none;
}
.predictive-search.predictive-search--header{
  /* display: none; */
  opacity: 0;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: calc(100%);
  margin: 0 auto;
  margin-top: 2px;
  transition: all var(--duration-default) ease-in-out;
}
.wbsearch_inner,#predictive-search-results{
  max-width: 100%;
  border-radius: var(--popup-corner-radius);
  border: 1px solid rgba(var(--color-foreground),0.1);
  border-style: solid;
}
.predictive-search--search-template {
  z-index: 2;
}
predictive-search[open] .predictive-search ,
predictive-search[loading] .predictive-search {
  display: block;
  opacity: 1;
}

.seachbar-left{
    overflow: auto;
}
.predictive-search__heading {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  margin-bottom: 10px;
  line-height: 28px;
}
.predictive-search__result-group.seachbar-left .predictive-search__results-list{
  padding-bottom: 1.5rem;
}
predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}
predictive-search:not([loading]) .predictive-search__loading-state,
.predictive-search__result-group:first-child .predictive-search__pages-wrapper,
predictive-search:not([loading]) .predictive-search-status__loading, 
predictive-search[loading] .predictive-search__search-for-button,
predictive-search[loading] .predictive-search__results-groups-wrapper ~ .predictive-search__loading-state {
  display: none;
}
predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
predictive-search[loading] .predictive-search__results-groups-wrapper ~ .predictive-search__search-for-button {
  display: initial;
}
.predictive-search__loading-state{
  background: var(--gradient-background);
}
button.predictive-search__item.predictive-search__item--term {
  width: 100%;
  text-align: left;
  transition: all 0.3s;
  margin-bottom: 15px;
}
.predictive-search__item-content {
  grid-area: product-content;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.predictive-search__item-content--centered {
  justify-content: center;
}
.predictive-search__item-heading {
  font-size: calc(var(--font-body-scale) * 14px);
  text-transform: capitalize;
  margin-bottom: 8px;
  letter-spacing: 0.1px;
  font-weight: var(--font-body-weight);
  word-break: break-word;
}
.predictive-search__item-query-result mark {
  padding: 0.15em;
  background-color: rgb(var(--color-foreground),.09);
  font-weight: var(--font-body-weight-medium);
  color: rgba(var(--color-foreground),1);
}
.predictive-search__item--term {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  word-break: break-all;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  background: rgb(var(--color-foreground),.05);
  padding: 10px;
  border-radius: var(--popup-corner-radius);
}
.predictive-search .card__heading, .search_blog-wrapper .article-card .card__heading, .search_result-articles .article-card .card__heading{
  font-size: calc(var(--font-body-scale) * 14px);
}
.predictive-search .price .price-item {
  margin-top: 5px;
}
.predictive-search__item--term .icon-arrow path{
  fill: rgb(var(--color-foreground));
}
.predictive-search__item--term:hover .icon-arrow path{
  fill: rgb(var(--color-link-hover));
}
.predictive-search__item--term .icon-arrow {
  width: calc(var(--font-heading-scale) * 2.4rem);
  height: calc(var(--font-heading-scale) * 1.4rem);
  flex-shrink: 0;
}
.predictive-search__image {
  grid-area: product-image;
  border: 1px solid rgba(var(--color-foreground),.08);
  border-radius: 0;
}
.predictive-search .search-result-text{
  font-weight: var(--font-body-weight-medium);
}
.search-modal__form .predictive-search {
  width: 100%;
}
.predictive-search.predictive-search--header .search_default.search-right-part-only{
  /* display: block; */
  opacity: 1;
}
.predictive-search.predictive-search--header.default--search{
  /* display: block; */
  opacity: 1;
}
.predictive-search.predictive-search--header .search_default ul{
  list-style: none;
}
.default-serch.searchbar-right .flex-direction--row ul.collection-list{
  row-gap: 1px;
  column-gap: 1px;
}
.default-serch.searchbar-right .content-disabled{
  display: none;
}
.searchbar-right .predictive-search__heading{
  margin: 0 0 11px;
}
.searchbar-right .predictive-search__heading.collection-heading{
  border-bottom: none;
  text-transform: uppercase;
  font-size: calc(var(--font-heading-scale) * 17px);
  margin-top: 0;
}
.seachbar-left a.predictive-search__heading{
  display: block;
  padding: 5px 0;
  margin: 0 auto 5px;
}
.seachbar-left a.search_subheading {
  font-size: calc(var(--font-body-scale) * 15px);
  word-break: break-word;
  text-transform: capitalize;
}
.predictive-search::-webkit-scrollbar,
#predictive-search-results::-webkit-scrollbar,
.seachbar-left::-webkit-scrollbar,
.predictive-search__result-group.searchbar-right.wbsrightpart::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.2rem;
  display: initial;
}
.predictive-search::-webkit-scrollbar-track,
#predictive-search-results::-webkit-scrollbar-track,
.seachbar-left::-webkit-scrollbar-track,
.predictive-search__result-group.searchbar-right.wbsrightpart::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.1);
  border-radius: 0.4rem;
}
.predictive-search::-webkit-scrollbar-thumb,
#predictive-search-results::-webkit-scrollbar-thumb,
.seachbar-left::-webkit-scrollbar-thumb,
.predictive-search__result-group.searchbar-right.wbsrightpart::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
}
.predictive-search__results-groups-wrapper--no-suggestions {
  padding: 10px;
  background: var(--gradient-background);
}
.predictive-search__result-group.searchbar-right .predictive-search__results-list li.grid__item{
  flex-direction: row;
}
.predictive-search.predictive-search--header .quick-search-inner ul{
  display: flex;
  font-weight: var(--font-body-weight);
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}
.predictive-search.predictive-search--header .quick-search-inner{
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.quick-search-inner a.quick-url {
  color: rgb(var(--color-foreground));
  word-break: break-word;
  border: 1px solid rgba(var(--color-foreground),.08);
  border-radius: var(--buttons-radius);
  padding: 0 10px;
}
.quick-search-inner a.quick-url:hover {
  color: rgb(var(--color-link-hover));
}
.quick-search-inner p, .default-content-heading{
  color: rgba(var(--color-foreground));
  font-weight: var(--font-body-weight-medium);
  font-size: calc(var(--font-body-scale) * 16px);
  margin: 0;
}
.predictive-search__heading.quick-search-tag-info {
  padding-bottom: 15px;
  width: 100%;
}
.searchbar-right .article-card__image img{
  height: 150px;
  width: 150px;
  object-fit: contain;
}
#predictive-search-results-groups-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.predictive-search.predictive-search--header .search_default .search-default_data:only-child, #predictive-search-results-groups-wrapper .search_result-products ul li, .predictive-search li.product__col_wrapper, .predictive-search li.blog_col_wrapper{
  width: 100%;
}
.predictive-search__result-group.seachbar-left:last-child{
  margin-right: 0;
}

.search_default ul.contains-card--product, .search_result-products ul{
  flex-direction: column;
  row-gap: 15px;
}
.search_default ul.grid.product-grid.contains-card.contains-card--product .card, #predictive-search-results-groups-wrapper .search_result-products .card{
  flex-direction: row;
  align-items: center;
}
.search-left-part .card__inner.wbimgblock, .search_blog-wrapper .card__inner,
#predictive-search-results-groups-wrapper .search_result-products .card__inner, .search_result-articles.search__results .card__inner {
  width: 100%;
  max-width: 20%;
}
.predictive-search .wbsearch_inner{ 
  padding: 15px;
}
.predictive-search .wbsearch_inner.wbno_space{
  display: none;
}
.predictive-search .heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.predictive-search .default-heading-link{
  font-size: calc(var(--font-body-scale) * 12px);
  text-decoration: underline;
}
.predictive-search .price--sold-out .price__badge-sold-out, .predictive-search .price--on-sale .price__badge-sale, .predictive-search .price--on-sale .percent__badge-sale, .predictive-search .price--on-sale .amount__badge-sale{
  top: 8px;
  left: 8px;
  padding: .2rem .5rem;
  font-size: calc(var(--font-body-scale) * 11px);
}
.predictive-search .card .card__badge {
  padding: 5px;
}
.predictive-search__result-group:only-child, #predictive-search-results-groups-wrapper .collection-and-articles:only-child{
  width: 100%;
  display: block;
}
#predictive-search-results-groups-wrapper .search_result-products:only-child ul.predictive-search__results-list, #predictive-search-results-groups-wrapper .collection-and-articles:only-child .search_result-articles:only-child ul.predictive-search__results-list,.predictive-search.predictive-search--header .search_default .search-default_data:only-child ul.contains-card--product{
  flex-direction: row;
}
.predictive-search .blog__posts .card-wrapper .card.article-card{
  gap: 0;
}
.predictive-search .card__heading, .predictive-search .article-card .card__heading{
  margin: 0;
}
.predictive-search .card--standard > .card__content{
  padding: 0 0 0 10px;
}
.predictive-search .collection-list__item .card--standard > .card__content{
  padding: 10px 0 0;
}
.predictive-search.predictive-search--header .search_default .search-default_data:only-child .heading-wrapper{
  margin-bottom: 2rem;
}
.predictive-search .product-card-wrapper .product__vendor {
  margin-top: 0;
  padding-bottom: 5px;
}
.wbsrightpart .predictive-search__results-list .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
}
.predictive-search__results-list.grid {
  row-gap: 10px;
}
.search_result-collections .predictive-search__results-list.grid {
  row-gap: var(--grid-desktop-vertical-spacing);
} 
.header__search .field__button.reset__button:hover {
  color: rgb(var(--color-button-hover-text));
}
.predictive-search__result-group .wbproduct-container .card.card--standard .wbproductdes {
    padding-top: 0;
}
.search_blog-wrapper .article-card.card--standard .card__content {
  margin-top: 0;
}
@media (min-width: 992px) {
  .psearch-hidden header.header--middle-center::before,
  .psearch-hidden header.header--middle-left::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(var(--black-color),0.5);
    filter: unset;
    z-index: 9;
  }
  .psearch-hidden header.header--middle-center::before,.psearch-hidden header.header--middle-left::before {
    height: 100vh;
  }
  details-modal details >.search-modal {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    right: 15px;
    left: auto;
    top: 100px;
    bottom: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    background-color: transparent;
    transition: transform var(--duration-default) ease;
    transform: translateX(100%);
    animation: none;
    border-radius: var(--popup-corner-radius);
  }
  details-modal details[open] > .search-modal {
    visibility: visible;
    /* animation: animateMenuOpenSearch var(--duration-default) ease; */
    animation: none;
    opacity: 1;
  }
  details.search-opening .search-modal.modal__content,
  details.search-opening .search-modal {
    transform: translateX(0);
    animation: none;
    transition: transform var(--duration-default) ease;
  }
  details-modal details .search-modal__content {
    position: relative;
  }
  details-modal details .modal__content .search-modal__content {
    width: 680px;
    height: auto;
    padding: 15px;
    background-color: #e6c395;
    position: relative;
    z-index: 2;
    margin: 0;
    border-radius: var(--popup-corner-radius);
  }
  details-modal details[open] .predictive-search.predictive-search--header {
    padding: 0;
  }
  @keyframes animateMenuOpenSearch {
    0% {
        opacity: 0;
        transform: translate(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }
}
@media (max-width: 991px) {
  .header--top-left details-modal details[open] .predictive-search.predictive-search--header {
    padding: 0;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .search-left-part .card__inner.wbimgblock, .search_blog-wrapper .card__inner,
  #predictive-search-results-groups-wrapper .search_result-products .card__inner, .search_result-articles.search__results .card__inner {
    width: 100%;
    max-width: 15%;
  }
  .wbsrightpart .predictive-search__results-list .grid__item {
    width: calc(33.33% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
  }
}
@media (min-width: 992px) and (max-width: 1084px) {
  .search_modal_tab .tab-content .search-default_data, .predictive-search__result-group.searchbar-right.wbsrightpart {
    height: 60vh;
  } 
}
@media (min-width: 768px) and (max-width: 991px) {
  .search_modal_tab .tab-content .search-default_data, .predictive-search__result-group.searchbar-right.wbsrightpart {
    height: 300px;
    padding-right: 5px 
  } 
}
@media screen and (max-width: 767px){
  .search_modal_tab .tab-content .search-default_data, .predictive-search__result-group.searchbar-right.wbsrightpart {
    height: auto;
    padding: 0;
    overflow: unset;
  }
  .predictive-search .wbsearch_inner {
    height: 300px;
    overflow-y: auto;
  }
  .predictive-search__result-group.searchbar-right.wbsrightpart {
    height: auto;
    padding: 0;
  }
  .predictive-search__result-group.searchbar-left{
    width: 100%;
  }
  .predictive-search__result-group.searchbar-right.wbsrightpart{
    width: 100%;
  }
  .predictive-search__result-group .article-card-wrapper .card__information p {
    margin-bottom: 3px;
    font-size: calc(var(--font-body-scale) * 12px);
  }
  .predictive-search.predictive-search--header .quick-search-inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .quick-search-inner p {
    font-size: calc(var(--font-body-scale) * 14px);
    margin-bottom: 10px;
  }
  .predictive-search.predictive-search--header .quick-search-inner ul {
    gap: 4px;
  }
  .quick-search-inner a.quick-url {
    padding: 0 6px;
  }
  #predictive-search-results-groups-wrapper {
    flex-direction: column;
  }
  .wbsrightpart{
    margin-bottom: 15px;
    order: 1;
  }
  .seachbar-left{
      order: 2;
  }
}
@media screen and (min-width: 768px) {
  .seachbar-left {
    width: 30%; 
  }
  .seachbar-left.search-default_data {
    width: unset;
  }
}
@media (max-width: 575px) {
  .search-left-part .card__inner.wbimgblock, .search_blog-wrapper .card__inner,
  #predictive-search-results-groups-wrapper .search_result-products .card__inner, .search_result-articles.search__results .card__inner {
    width: 100%;
    max-width: 25%;
  }
  .predictive-search__result-group.search-center-part .grid__item, .wbsrightpart .predictive-search__results-list .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) * 1 / 2);
    max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  }
  .predictive-search .price--sold-out .price__badge-sold-out, .predictive-search .price--on-sale .price__badge-sale, .predictive-search .price--on-sale .percent__badge-sale, .predictive-search .price--on-sale .amount__badge-sale{
    top: 6px;
    left: 6px;
  }
}