.marquee .marquee-child > svg {
  fill: rgb(var(--color-foreground));
}
.marquee .marquee-child > svg.storke_clr {
    fill: none;
}
.scroll_imgtext .dummysvg {
    width: 70px;
    height: 70px;
}

.marquee .marquee-child{
  display: flex;
  align-items: center;
  position: relative;
}
.marquee {
  grid: auto / auto-flow max-content;
  justify-content: center;
  display: grid;
  overflow: hidden;
}
.marquee p {
    margin: 0;
    /* line-height: normal; */  /*  text alignment center issue  */
}
.section-header:has(.tranhead) ~ main slideshow-component .marquee{
  top: var(--headers-height);
}
main slideshow-component .marquee{
  display: none;
}
.marquee .wbproductdes {
    width: 75%;
}
.marquee .card__inner.wbimgblock  {
    width: 25%;
    min-width: 40px;
}
.marquee .card--card .card__inner.wbimgblock {
    margin-left: 6px;
}
.marquee .blank__image .card__inner.wbimgblock {
    width: auto;
    min-width: auto;
}
.marquee .card--standard .card__content {
    padding-left: 10px;
}

.marquee .wbproductdes {
    width: 70%;
}
.marquee .card__inner.wbimgblock  {
    width: 30%;
}
.marquee .wbproduct-container .wbproductdes, .marquee .wbproduct-container .wbproductdes .price {
    text-align: left;
}
.marquee .wbproduct-container .card.card--standard .wbproductdes {
    padding-top: 0;
}
.marquee .product-card-wrapper .card.blank__image,
.marquee .card-wrapper .card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.marquee .grid.product-grid {
    display: flex;
}
.marquee .card__heading {
    font-size: calc(var(--font-body-scale) * 16px);
    margin-top: 0;
    margin-bottom: 5px;
}
.marquee .wbproduct-container .wbproductdes .price {
    font-size: calc(var(--font-body-scale) * 14px);
}
.marquee .wbproduct-container .wbproductdes .price--on-sale .price-item--regular {
    font-size: calc(var(--font-body-scale)* 12px);
}
.marquee .product__col_wrapper.grid__item {
    max-width: 100%;
    min-width: 250px;
}
@media (max-width: 991px){
    .marquee-child p{
        font-size: calc(var(--font-body-scale) * 14px);
    }
}
@media (max-width: 767px) {
    .marquee .card__heading {
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .marquee .wbproduct-container .wbproductdes .price {
        font-size: calc(var(--font-body-scale) * 12px);
    }
}